.headerDiv {
  background: rgba(var(--bg-color), var(--bg-opacity));
  backdrop-filter: var(--blur-effect);
  padding: 0.4vw 0;
  padding-top: calc(1.4rem * var(--scale-factor));;
  transition: background-color 0.6s, color 0.6s;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  display: flex;
  align-items: center;
}

.rightContent {
  display: flex;
  align-items: center;
}

.logo {
  width: calc(3rem * var(--scale-factor)); 
  height: auto;
  margin-left: calc(1.5rem * var(--scale-factor));
  margin-right: calc(2.5rem * var(--scale-factor));
}

.navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-right: calc(2.5rem * var(--scale-factor));
}

.navLinks li h5 {
  padding: 0;
  margin: 0;
}

.toggleThemeBtn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggleThemeSun {
  width: calc(1.7rem * var(--scale-factor)); 
  height: auto;  
  color: rgb(var(--accent-300));
  filter: drop-shadow(0 0 5px rgba(var(--accent-300), 0.7)) brightness(1) saturate(1.5);
  transition: all 0.3s ease;
  margin-right: calc(1.5rem * var(--scale-factor));
}

.pulseSun {
  animation: pulseSunFrames 6s infinite;
}

.toggleThemeSun:hover {
  color: black;
}

@keyframes pulseSunFrames {
  0% {
    filter: drop-shadow(0 0 5px rgba(var(--accent-300), 0.7)) brightness(1) saturate(2);
  }
  50% {
    filter: drop-shadow(0 0 25px rgba(var(--accent-300), 1)) brightness(2) saturate(5);
  } 
  100% {
    filter: drop-shadow(0 0 5px rgba(var(--accent-300), 0.7)) brightness(1) saturate(2);
  }
}

.toggleThemeMoon {
  width: calc(1.6rem * var(--scale-factor)); 
  height: auto;  
  color: rgb(var(--primary));
  filter: drop-shadow(0 0 3px rgba(var(--primary), 0.7));
  transition: all 0.3s ease;
  margin-right: calc(1.5rem * var(--scale-factor));
}

.pulseMoon {
  animation: pulseMoonFrames 6s infinite;
}

.toggleThemeMoon:hover {
  color: white;
}

@keyframes pulseMoonFrames {
  0% {
    filter: drop-shadow(0 0 3px rgba(var(--primary-300), 0.7)) brightness(1) saturate(1.2);
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(var(--primary-200), 1)) brightness(1.2) saturate(1.7);
  }
  100% {
    filter: drop-shadow(0 0 3px rgba(var(--primary-300), 0.7)) brightness(1) saturate(1.2);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: calc(3rem * var(--scale-factor));
  margin-right: calc(1.5rem * var(--scale-factor));
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: rgb(var(--text-color));
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
 
  .navLinks {
    display: none;
    position: absolute;
    top: calc(3.5rem * var(--scale-factor));
    flex-direction: column;
    width: 100%;
    background-color: rgba(var(--bg-color), var(--bg-opacity));
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
    /* transform: translateX(100%); */
  }

  .navLinks.open {
    display: flex;
    /* transform: translateX(0); */
  }

  .navLinks li {
    margin: calc(1.5rem * var(--scale-factor)) 0;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

}