/*? footer containers */
.footer {
    /* position: absolute; bottom: 0; */
    background: rgb(var(--bg-color-300));
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_wrapper {
    display: flex;
    background: rgb(var(--bg-color-300));
    flex-direction: column;
    padding: calc(2rem * var(--scale-factor));
}

/*? top section */
.footer_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: calc(2rem * var(--scale-factor));
    padding: calc(2rem * var(--scale-factor)) 0;
    justify-content: space-between;
}

.footer_headline>h2 {
    margin: 0;
    color: rgb(var(--text-color));
}

.footer_headline>p {
    color: rgb(var(--text-color-200));
    margin: calc(0.25rem * var(--scale-factor)) 0 calc(1.25rem * var(--scale-factor)) 0;
}

/*? footer subscribe */
.footer_subscribe {
    display: flex;
    gap: calc(1rem * var(--scale-factor));
    flex-wrap: wrap;
}

.footer_subscribe>input {
    color: rgb(var(--text-color));
    outline: none;
    border: none;
    outline: 2px solid rgb(var(--accent));
    /* min-height: calc(2.25rem * var(--scale-factor)); */
    background: rgb(var(--bg-color-200));
    flex: 1 0 120px;
    padding: calc(1rem * var(--scale-factor)) calc(0.75rem * var(--scale-factor));
    padding-left: calc(1.25rem * var(--scale-factor));
    border-radius: 99rem;
}

.footer_subscribe>input:focus {
    outline: 2px solid rgb(var(--accent-200));
}

.footer_subscribe>input::placeholder {
    color: rgb(var(--text-color-300));
}

.footer_subscribe>button {
    cursor: pointer;
    background: rgb(var(--accent));
    border-radius: 99rem;
    color: rgb(var(--dark-300));
    min-width: calc(8rem * var(--scale-factor));
    /* min-height: calc(2.25rem * var(--scale-factor)); */
    flex: 1 0 calc(4rem * var(--scale-factor));
    white-space: nowrap;
    font-weight: bold;
    padding: calc(1rem * var(--scale-factor));
    border: rgb(var(--primary));
    outline-color: rgb(var(--primary));
    transition: all var(--fast-transition) ease-in-out;
}

.footer_subscribe>button:hover {
    background: rgb(var(--accent-200));
    border: rgb(var(--accent-300));
}

/*? footer columns */
.footer_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: calc(1rem * var(--scale-factor));
    padding: calc(1.5rem * var(--scale-factor)) calc(0.5rem * var(--scale-factor)) calc(1rem * var(--scale-factor)) calc(0.5rem * var(--scale-factor));
    margin: 0 auto;
}

.footer_columns ul {
    padding: 0;
    margin: 0;
}

.footer_columns ul a {
    color: rgb(var(--text-color-200));
}

.footer_columns ul a:hover {
    text-decoration: underline;
}

.footer_columns ul li {
    margin-bottom: calc(1rem * var(--scale-factor));
}

.footer_columns h3 {
    color: rgb(var(--text-color-200));
    margin-top: 0;
    margin-bottom: calc(1.5rem * var(--scale-factor));
}


.footer_columns>section {
    min-width: calc(6rem * var(--scale-factor));
}

.footer_centering {
    margin: 0 auto;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: calc(1rem * var(--scale-factor));
    margin-bottom: calc(4rem * var(--scale-factor));
}

.footer_logo img {
    width: calc(4rem * var(--scale-factor));
    height: calc(4rem * var(--scale-factor));
}

/*? Footer bottom */
.footer_bottom {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(var(--primary));
    /* min-height: calc(3.5rem * var(--scale-factor)); */
    color: rgb(var(--dark-300));
    font-size: calc(1.35rem * var(--scale-factor));
}

.footer_bottom>small {
    margin: 0 calc(0.25rem * var(--scale-factor));
}

.footer_bottom_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: calc(0.5rem * var(--scale-factor)) calc(1rem * var(--scale-factor));
    width: 100%;
}

/*? socials */
.social_bottom {
    display: flex;
    justify-content: end;
    margin-top: calc(2rem * var(--scale-factor));
    padding-top: calc(1.5rem * var(--scale-factor));
    border-top: 1px solid rgb(var(--text-color));
}

.social_links {
    display: flex;
    gap: calc(0.5rem * var(--scale-factor));
    align-items: center;
}

.social_links ul {
    display: flex;
    gap: calc(1.25rem * var(--scale-factor));
}

.social_link_icon {
    color: rgb(var(--text-color-200));
    min-width: calc(2rem * var(--scale-factor));
    min-height: calc(2rem * var(--scale-factor));
}

/*? mobile */

@media (max-width: 800px) {

    .footer_columns {
        grid-template-columns: 1fr 1fr;
    }

    .footer_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: calc(0.5rem * var(--scale-factor));
        padding: calc(1rem * var(--scale-factor)) calc(0.5rem * var(--scale-factor)) calc(2rem * var(--scale-factor)) 0;
    }

}